@using GlobalSauce
@using GlobalSauce.Enums
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @Html.GlobalSauce(false, Components.JqueryGlobalization, Components.JqGrid, Components.JqueryUIDatePicker, Components.JqueryUITimePicker, Components.ckeditor)
            </p>
        </div>
    </section>

    <input id="date" type="text" />
}


@section scripts
{
    <script src="~/Scripts/globalize/globalize.js" type="text/javascript"></script>
    <script type="text/javascript">
         @Html.GlobalSauce(false, Components.JqueryGlobalization, Components.JqGrid, Components.JqueryUIDatePicker, Components.JqueryUITimePicker, Components.ckeditor)


        $(document).ready(function () {
            $("#date").datepicker();
        });
    </script>
}
